@use '../functions/' as *;

.el_sectionTitle {
  position: relative;
  font-size: rem(24px);
  font-weight: 500;
  text-align: center;

  span {
    display: block;
    margin-top: 8px;
    padding-bottom: var(--size-space-sm);
    color: color(--c-base);
    font-family: font-family(font-base-en);
    font-size: 0.583em;
  }

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 64px;
    height: 1px;
    transform: translateX(-50%);
    background: color(--c-accent);
  }
}
