@use '../functions/' as *;
@use '../mixin/' as mix;

.bl_concept_img {
  visibility: hidden;
  width: 100%;
  height: 360px;
  transform: translateX(50%);
  transition: transform 0.5s ease-out;
  opacity: 0;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &.is_display {
    visibility: visible;
    transform: translateX(0);
    transition: transform 0.8s ease-out, opacity 1s ease;
    opacity: 1;
  }

  @include mix.mq(lg) {
    width: calc(1120 / 1440) * 100%;
    height: 480px;
    margin-left: auto;
  }
}

.bl_concept_textWrap {
  visibility: hidden;
  width: 100vw;
  margin: 0 calc(50% - 50vw);
  padding: var(--size-space-2xl) calc(50vw - 50% + var(--size-width-inner-sm));
  transform: translateX(-50%);
  transition: transform 0.5s ease-out;
  opacity: 0;
  background: color(--c-base);

  &.is_display {
    visibility: visible;
    transform: translateX(0);
    transition: transform 0.8s ease-out, opacity 1s ease;
    opacity: 1;
  }

  @include mix.mq(lg) {
    position: absolute;
    bottom: 0;
    left: 0;
    width: calc(640 / 1440) * 100%;
    padding: var(--size-space-4xl) calc(50vw - 50% + var(--size-space-2xl));
  }
}

.bl_concept_lead {
  color: color(--c-white);
  font-size: rem(20px);
  line-height: 1;

  @include mix.mq(lg) {
    font-size: rem(24px);
    line-height: 1.5;
  }
}

.bl_concept_text {
  margin-top: var(--size-space-md);
  color: color(--c-white);
  letter-spacing: 0.05em;
  line-height: 2;

  @include mix.mq(lg) {
    line-height: 2.5;
  }
}

.bl_concept_btnWrap {
  margin-top: var(--size-space-lg);
  text-align: right;
}
