@use '../functions/' as *;
@use '../mixin/' as mix;

.bl_drawerNav {
  position: fixed;
  z-index: -1;
  top: 0;
  width: 100vw;
  padding: calc(var(--size-header-h-sm) + var(--size-space-lg)) var(--size-space-lg) 0;
  transition: visibility 0.2s ease, opacity 0.2s ease, top 0.5s ease-out;
  background: color(--c-bg-contents);

  &[aria-hidden='true'] {
    visibility: hidden;
    top: -100%;
    opacity: 0;
  }

  @include mix.mq(lg) {
    padding: calc(var(--size-header-h-lg) + var(--size-space-lg)) var(--size-space-lg) 0;
  }
}

.bl_drawerNav_list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2em;

  @include mix.mq(md) {
    flex-flow: row wrap;
  }
}

.bl_drawerNav_listItem {
  text-align: center;

  a {
    color: color(--c-text);
    font-size: rem(18px);

    span {
      display: block;
      margin-top: 0.5em;
      color: color(--c-accent);
      font-size: rem(12px);
    }
  }

  &__gr {
    width: 100vw;
    margin: 0 calc(50% - 50vw);
    padding: var(--size-space-lg) 0;
    background: color(--c-base);

    a {
      color: color(--c-white);
    }
  }

  @include mix.mq(md) {
    a {
      display: block;
      padding: 0 var(--size-space-sm);
    }
  }
}
