@use '../functions/' as *;
@use '../mixin/' as mix;

.bl_footer_logo {
  width: 80px;
  margin: 0 auto;

  img {
    width: 100%;
    height: 100%;
  }
}

.bl_footer_info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: var(--size-space-md);
  gap: var(--size-space-sm);

  p,
  a {
    color: color(--c-white);
  }
}

.bl_footer_globalNav {
  margin-top: var(--size-space-lg);

  @include mix.mq(lg) {
    margin-top: var(--size-space-2xl);
  }
}

.bl_footer_globalNavList {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @include mix.mq(lg) {
    flex-direction: row;
    gap: var(--size-space-md);
  }
}

.bl_footer_secondNavList {
  display: flex;
  align-items: center;
  justify-content: center;
}

.bl_footer_secondNavItem {
  &:not(:first-of-type) {
    position: relative;

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      width: 1px;
      height: 100%;
      transform: translateY(-50%);
      background: color(--c-white);
    }
  }

  a {
    padding: 0 min(5.4vw, var(--size-space-xl));
    color: color(--c-white);
    font-size: clamp(rem(10px), 3.7vw, rem(14px));
  }
}

@include mix.mq(lg) {
  a {
    padding: 0 var(--size-space-lg);
  }
}

.bl_footer_globalNavItem {
  width: 100%;

  &:not(:first-of-type) {
    border-top: 1px solid color(--c-white);
  }

  a {
    display: block;
    visibility: hidden;
    padding: var(--size-space-md) 0;
    transform: translateY(-10%);
    transition: all 0.4s 0.4s ease-out;
    opacity: 0;
    color: color(--c-white);
  }

  &.is_display {
    a {
      visibility: visible;
      transform: translateY(0);
      opacity: 1;
    }
  }

  @include mix.mq(lg) {
    width: fit-content;

    &:not(:first-of-type) {
      border-top: 0;
      border-left: 1px solid color(--c-white);
    }

    a {
      padding: 0 var(--size-space-lg);
      transition: all 0.4s ease-out;
    }
  }
}
