@use '../functions/' as *;
@use '../mixin/' as mix;

.bl_mv {
  visibility: hidden;
  transition: all 2s ease-in-out;
  opacity: 0;
  filter: blur(6px);

  &.is_display {
    visibility: visible;
    opacity: 1;
    filter: blur(0);
  }
}

.bl_mv_textWrap {
  position: absolute;
  top: calc(50% - 64px);
  left: 50%;
  width: 100%;
  padding: 0 0 18px;
  transform: translateX(-50%);

  h1 {
    font-size: clamp(40px, 10.667vw, 56px);
    line-height: 1.4;
  }

  p {
    font-size: clamp(20px, 6.4vw, 36px);
    line-height: 1.667;
  }

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    transition: width 0.5s ease-in-out;
    background: color(--c-white);
    box-shadow: 0 0 1px color(--c-text), 0 0 3px color(--c-text), 0 0 5px color(--c-text);
  }

  &.is_display {
    &::after {
      width: 100%;
    }
  }
}

.bl_mv_text {
  overflow: hidden;

  span {
    display: inline-block;
    transform: translateY(105%);
    color: color(--c-white);
    text-shadow: 0 0 1px color(--c-text), 0 0 3px color(--c-text), 0 0 5px color(--c-text);

    &.is_display {
      animation: textAnimation 2s 1.5s forwards;
    }
  }
}

@keyframes textAnimation {
  0% {
    transform: translateY(105%);
  }

  100% {
    transform: translateY(0);
  }
}
