@use '../functions/' as *;
@use '../mixin/' as mix;

.bl_mv_textWrap {
  position: absolute;
  top: calc(50% - 64px);
  left: 50%;
  width: 100%;
  padding: 0 0 18px;
  transform: translateX(-50%);

  h1,
  p {
    color: color(--c-white);
    text-shadow: 0 0 30.4px color(--c-text), 0 0 6px color(--c-text), 0 0 12px color(--c-text),
      0 0 20px color(--c-text);
  }

  h1 {
    font-size: clamp(40px, 10.667vw, 56px);
    line-height: 1.4;
  }

  p {
    font-size: clamp(20px, 6.4vw, 36px);
    line-height: 1.667;
  }

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 100%;
    height: 1px;
    transform: translateX(-50%);
    background: color(--c-white);
    box-shadow: 0 0 30.4px color(--c-text), 0 0 6px color(--c-text), 0 0 12px color(--c-text),
      0 0 20px color(--c-text);
  }
}
