@use 'sass:math';

/* inner-width */
$width-inner: (
  width-inner-sm: calc(20 / 375 * 100vw),
  width-inner-sm2: calc(36 / 375 * 100vw),
  width-inner-lg: calc(200 / 1440 * 100vw),
);

/* space */
$spaces: (
  space-sm: 16px,
  space-md: 24px,
  space-lg: 32px,
  space-xl: 40px,
  space-2xl: 80px,
  space-3xl: 64px,
  space-4xl: 120px,
);

:root {
  @each $key, $width in $width-inner {
    --size-#{$key}: #{$width};
  }
  @each $key, $space in $spaces {
    --size-#{$key}: #{$space};
  }
}
