@use '../functions/' as *;
@use '../mixin/' as mix;

.ly_footer {
  background: color(--c-base);
}

.ly_footer_inner {
  margin: 0 var(--size-width-inner-sm);
  padding: var(--size-space-xl) 0 var(--size-space-sm);
  text-align: center;

  &__sec {
    width: 100%;
    padding: var(--size-space-lg) var(--size-width-inner-sm2) var(--size-space-sm);
    border-top: 1px solid color(--c-white);
    background: color(--c-bg-footer-sub);
  }

  @include mix.mq(lg) {
    padding: var(--size-space-4xl) 0 var(--size-space-5xl);

    &__sec {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: var(--size-space-sm) var(--size-width-inner-lg);
    }
  }
}

.ly_footer_info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--size-space-sm);
}

.ly_footer_globalNav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @include mix.mq(lg) {
    flex-direction: row;
    gap: var(--size-space-md);
  }
}

.ly_footer_secondNav {
  display: flex;
  align-items: center;
  justify-content: center;
}
