@use '../functions/' as *;
@use '../mixin/' as mix;

.ly_header {
  position: fixed;
  z-index: 10;
  top: 0;
  width: 100%;
  height: var(--size-header-h-sm);

  @include mix.mq(lg) {
    height: var(--size-header-h-lg);
  }
}

.ly_header_inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  padding: 0 var(--size-width-inner-sm);
  background: color(--c-bg-body, 0.8);

  @include mix.mq(xl) {
    justify-content: center;
    gap: var(--size-space-lg);
  }

  @include mix.mq(xxl) {
    padding: 0 var(--size-width-inner-lg);
  }
}
