@use '../functions/' as *;
@use '../mixin/' as mix;
@use '../variables/' as var;

.ly_mv {
  width: 100%;
  height: 812px;
  background: url(#{var.$img-path}top.webp) no-repeat center center / cover;
}

.ly_mv_inner {
  position: relative;
  height: 100%;
  margin: 0 var(--size-width-inner-sm);

  @include mix.mq(lg) {
    margin: 0 var(--size-width-inner-lg);
  }
}
