.ly_section {
  margin-top: var(--size-space-3xl);
}

.ly_section_contents {
  margin-top: var(--size-space-md);
}

.ly_section_concept {
  width: 100vw;
  margin-right: calc(50% - 50vw);
  margin-left: calc(50% - 50vw);
}
