.ly_section {
  margin-top: var(--size-space-3xl);
}

.ly_section_contents {
  margin-top: var(--size-space-md);

  &__w100 {
    width: 100vw;
    margin-right: calc(50% - 50vw);
    margin-left: calc(50% - 50vw);

    &_inner {
      padding: 0 calc(50vw - 50%);
    }
  }
}
